/* Entire Site */
body {
    background-color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
    color: #ffffff;
}

.invert {
    filter: invert(80%);
}

/* Navigation Bar */
nav {
    max-height: 10dvh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

/* Logo */
#logo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

/* Home Button */
.background {
    width: 40px;
    height: 40px;
    background-color: #121212;
    border-radius: 10dvh;
    align-content: center;
    text-align: center;
    margin-right: 5px;
}

#home-button {
    width: 20px;
    height: 20px;
}

/* Search Bar */
.search-background {
    height: 40px;
    background-color: #121212;
    border-radius: 10dvh;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#search-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
    margin-top: 10px;
    margin-left: 15px;
}

#search-text {
    font-size: 14px;
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 12px;
    margin-left: 5px;
}

#search-text:hover {
    color: #b3b3b3;
}

.nav-right, #top-links, #install-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#line-size {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 140px;
}

#browse-icon {
    margin-left: 3px;
}

#middle-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -350px;
}

/* Quick Links */
.top-links {
    text-decoration: none;
    color: #b3b3b3;
    align-content: center;
    font-weight: bold;
    margin-right: 7px;
}

/* Top Bar */
#top-bar {
    margin-top: 15px;
    font-size: 25px;
    color: #b3b3b3;
    font-weight: lighter;
    margin-left: 5px;
}

/* Install App */
#download-icon {
    width: 10px;
    height: 10px;
    margin-bottom: 15px;
}

#circle {
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 5dvh;
    width: 8px;
    height: 8px;
    overflow: hidden;
    align-self: center;
    margin-right: 3px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#app-text {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: bold;
}

#install-app {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-decoration: none;
    margin-top: 7px;
    margin-right: 30px;
}

/* Sign Up */
#sign-up {
    text-decoration: none;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}

/* Log In Button */
.big-white-button {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50px;
    display: flex;
    align-content: center;
    margin-top: 10px;
}

/* Your Library */
#aside {
    background-color: #121212;
    border-radius: 5px;
    width: 400px;
    height: 680px;
    padding-right: 15px;
}

.side-box {
    background-color: #212020;
    border-radius: 10px;
    width: 375px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 12.5px;
    text-align: left;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#library {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#plus {
    width: 20px;
    height: 20px;
    filter: invert(80%);
}

.top-one {
    justify-content: left;
    padding-top: -5px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 15px;
}

.middle {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 12px;
}

.small-button {
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 30px;
    width: 140px;
    height: 20px;
    text-align: center;
    align-content: center;
    padding: 5px;
}

.policy-links {
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
    font-size: 10px;
}

.policy-links a {
    text-decoration: none;
    color: #b3b3b3;
}

#better-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;
}

#better-links a {
    text-decoration: none;
    color: #b3b3b3;
}

#privacy {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

#choices {
    background-color: #1abc54;
    border-radius: 25px;
    font-size: 10px;
}

#checkbox {
    width: 30px;
    height: 30px;
}

#cookies {
    color: #ffffff;
    margin-top: -5px;
    margin-left: 20px;
    font-size: 10px;
    font-weight: bold;
}

#lang-button {
    border: 1px solid #ffffff;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    height: 30px;
    margin-left: 20px;
}

#world-icon {
    filter: invert(100%);
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Popular Albums */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popular-albums {
    background-color: #121212;
    border-radius: 5px;
    padding-top: 100px;
    padding-left: 20px;
    margin-left: 15px;
}

/* Header */
#pop-alb {
    font-size: 25px;
    font-weight: 900;
    margin: 0px;
    margin-bottom: 30px;
}

#albums {
    /* margin-top: -70px; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.pics {
    max-width: 125px;
    max-height: 130px;
    border-radius: 5px;
}

.album-grid h3 {
    font-size: 15px;
    margin: 4px;
    font-size: 12px;
}

.album-grid h5 {
    font-size: 10px;
    color: #b3b3b3;
    padding-left: 2px;
    margin: 0px;
    margin-bottom: 10px;
}

.album-grid {
    justify-content: flex-start;
    height: 250px;
}

.album-grid:hover {
    background-color: #212020;
}

/* Footer */
#footer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background: linear-gradient(90deg, #b52bb8, #5b9df5);
    justify-content: space-between;
    align-items: center;
}

#bottom {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#top-text {
    font-weight: bold;
    padding-bottom: 5px;
}

#bottom p {
    margin: 0px;
    font-size: 10px;
}

#free {
    background-color: #ffffff;
    border-radius: 50px;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    width: 90px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}